@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}

body {
    background: url(./assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: 'Bellefair', serif; */
}

section {
    width: 80%;
    margin: auto;
}

.crew-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.crew-info {
    width: 55%;
}

section > p > span {
    color: #3b3f49;
    font-weight: 600;
    margin-right: 1.5rem;
}

section > p {
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 300;
    margin-bottom: 4rem;
}

.info {
    display: none;
}

.info.active {
    display: block;
}

.info > h3 {
    color: #b3bdd6;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 15px;
}

.info > h1 {
    color: #fff;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 15px;
}

.info > p {
    color: #fff;
    font-weight: 300;
    width: 80%;
    font-size: 15px;
    /* letter-spacing: 1.2px; */
    line-height: 1.8;
}

.crew-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;
}

.crew-toggle {
    background: #3c404b;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.crew-toggle.active {
    background: #fff;
}

.bio-img {
    width: 70%;
    display: none;
}

.bio-img.active {
    display: block;
}

.crew-profile {
    width: 45%;
}

.crew-profile > img:nth-child(4) {
    width: 92%;
}

.crew-profile > img:nth-child(3) {
    width: 82%;
}

.crew-profile > img:nth-child(2) {
    width: 65%;
}

@media screen and (max-width: 961px) {
    .bio-img, .crew-profile > img:nth-child(2) {
        width: 80%;
    }

    .crew-profile > img:nth-child(3), .crew-profile > img:nth-child(4) {
        width: 100%;
    }
}

@media screen and (max-width: 849px) {
    body {
        background: url(./assets/crew/background-crew-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .crew-container {
        flex-direction: column;
        gap: 5rem;
    }

    .crew-btn {
        justify-content: center;
    }

    .info {
        text-align: center;
    }

    .crew-info, .crew-profile {
        width: 70%;
    }
}

@media screen and (max-width: 540px) {
    .crew-info, .crew-profile {
        width: 90%;
    }

    .info > p {
        width: 100%;
    }

    .info > h1 {
        font-size: 27px;
    }
}

@media screen and (max-width: 400px) {
    body {
        background: url(./assets/crew/background-crew-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .info > h3 {
        font-size: 18px;
    }
    
    .info > h1 {
        font-size: 20px;
    }
}