@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(./assets/home/background-home-desktop.jpg);
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Cormorant SC', serif; */
}

.head-nav {
    width: 95%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

/* .logo {
    width: 10%;
} */

.list-container {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-container > hr {
    width: 40%;
    opacity: .2;
    position: relative;
    left: 30px;
    z-index: 1;
}

.lists {
    background: rgba(34, 37, 75, 0.582);
    backdrop-filter: blur( 17.5px );
    width: 70%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 4rem;
    padding: 0 100px 0 80px;
}

.lists > a {
    color: #fff;
    text-decoration: none;
    padding: 30px 10px;
    font-weight: 200;
    letter-spacing: 1px;
    border: 3px solid transparent;
}

.lists > a.active {
    border-bottom: 3px solid #fff;
}

.lists > a > span {
    font-weight: 400;
}

.hero-section {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 67vh;
} 

